body {
  color: white;
  max-width: 100%;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}

.btn-dark {
  background-color: #151515;
  border-width: 0px;
}

a {
  color: #F8981E;
}

a:hover {
  color: #ffdb65;
}

body::-webkit-scrollbar-thumb {
  background-color: #ffdb65;
  border-radius: 10px;
}

footer {
  background-color: #111111;
}

.btn-page a {
  text-decoration: none;
  color: inherit;
}

hr {
  color: #F8981E;
}

.carousel-control-next, .carousel-control-prev {
  width: 5%;
}

.carousel-control-next {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.carousel-control-prev {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.modal-content {
  background-color: #222222;
}

.modal-header {
  border-bottom: 0px;
}

.modal-footer {
  border-top: 0px;
}

.card-outline {
  border-top: 4px solid #F8981E;
  border-bottom: 4px solid #F8981E;
}

.btn-primary {
  background-color: #F8981E;
  border-color: #F8981E;
  font-weight: 600;
  color: #000;
}

.btn-primary:hover {
  background-color: #ffdb65;
  border-color: #ffdb65;
  color: #000;
}

.navbar {
  padding-top: 0px;
  padding-bottom: 0px;
}

.btn-page {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn-page:hover {
  border-bottom: 3px solid #ffdb65;
}

.page-active {
  border-bottom: 3px solid #F8981E;
}

.featured-content {
  height: 70vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.featured-info {
  padding: 48px;
}

.featured-title {
  font-size: 70px;
}

.featured-description {
  font-size: 20px;
}

.selection-wrapper h2 {
  margin-left: 26px;
}

.selection-slider {
  width: 100%;
  padding: 26px;
  white-space: nowrap;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  margin-top: -36px;
}

.selection-slider::-webkit-scrollbar {
  display: none;
}

.selection-item {
  float: none;
  display: inline-block;
  width: 200px;
  height: 270px;
  -webkit-transition: .3s;
  transition: .3s;
  margin-right: 16px;
  margin-top: 10px;
  cursor: pointer;
}

.selection-item.review {
  width: 100%;
  height: auto;
  cursor: unset;
}

.selection-item:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.selection-item:hover.review {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.selection-item-img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.gallery-item {
  float: none;
  display: inline-block;
  -webkit-transition: .3s;
  transition: .3s;
  margin-top: 10px;
  cursor: pointer;
}

.gallery-item-img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  -webkit-transition: .3s;
  transition: .3s;
}

.gallery-item-img:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.cinema-item {
  float: none;
  display: inline-block;
  -webkit-transition: .3s;
  transition: .3s;
  min-height: 300px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 3px;
}

.cinema-item-img {
  width: 100%;
}

.cinema-item:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.cite {
  font-style: italic;
}

.slider-nav {
  z-index: 2;
  font-size: 120px;
  top: 90px;
  right: 20px;
  color: lightgray;
  opacity: 0.5;
  cursor: pointer;
}

.user-profile-pic {
  max-width: 50px;
  max-width: 50px;
  background-color: #F8981E;
  border: 3px solid #F8981E;
  border-radius: 5px;
}

.user-profile-pic img {
  height: 100%;
  width: 100%;
}

.comment-user-name {
  color: #F8981E;
  font-size: medium;
}

.news-img {
  border: 3px solid #F8981E;
}

.img-other-news {
  width: 100%;
  height: 100%;
  max-height: 18vh;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.img-other-news:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.navbar-logo {
  cursor: pointer;
}

.btn-primary:focus {
  background-color: #ffdb65;
  border-color: #ffdb65;
  -webkit-box-shadow: 0 0 0 0.25rem #F8981E;
          box-shadow: 0 0 0 0.25rem #F8981E;
  color: #000;
}
/*# sourceMappingURL=styles.css.map */