//$primary: #151515;
$dark: #808080;
$primary: #F8981E;
$light: #ffdb65;
$itemWidth: 200px;
$itemHeight: 270px;
$footer: #111111;

body {
    color: white;
    max-width: 100%;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
}

.btn-dark{
    background-color: #151515;
    border-width: 0px;
}

.btn-primary{
    background-color: $primary;
}

a{
    color: $primary;
}

a:hover{
    color: $light;
}

body::-webkit-scrollbar-thumb {
    background-color: $light;
    border-radius: 10px;
}

footer{
    background-color: $footer;
}

.btn-page a{
    text-decoration:none;
    color: inherit;
}

hr{
    color: $primary;
}

.carousel-control-next, .carousel-control-prev {
    width: 5%
}

.carousel-control-next{
    justify-content: right;
}

.carousel-control-prev{
    justify-content: left;
}

.modal-content{
    background-color: #222222;
}

.modal-header {
    border-bottom: 0px;
}

.modal-footer {
    border-top: 0px;
}

.card-outline{
    border-top: 4px solid $primary;
    border-bottom: 4px solid $primary;
}

.btn-primary{
    background-color: $primary;
    border-color: $primary;
    font-weight: 600;
    color: #000;
}

.btn-primary:hover{
    background-color: $light;
    border-color: $light;
    color: #000;
}

.navbar{
    padding-top: 0px;
    padding-bottom: 0px;
}

.btn-page{
    color: inherit;
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btn-page:hover{
    border-bottom: 3px solid $light; 
}

.page-active{
    border-bottom: 3px solid $primary;
}


.featured-content {
    height: 70vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.featured-info {
    padding: 48px;
}

.featured-title {
    font-size: 70px;
}


.featured-description {
    font-size: 20px;
}

.selection-wrapper h2 {
    margin-left: 26px;
}

.selection-slider {
    width: 100%;
    padding: 26px;
    white-space: nowrap;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    margin-top: -36px;
}

.selection-slider::-webkit-scrollbar {
    display: none;
}

.selection-item {
    float: none;
    display: inline-block;

    width: $itemWidth;
    height: $itemHeight;
    transition: .3s;
    margin-right: 16px;
    margin-top: 10px;
    cursor: pointer;

    &.review{
        width: 100%;
        height: auto;
        cursor:unset;
    }

}

.selection-item:hover {
    transform: scale(1.04);
    &.review{
        transform: scale(1);
    }
}

.selection-item-img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}


.gallery-item{
    float: none;
    display: inline-block;
   
    transition: .3s;
    margin-top: 10px;
    cursor: pointer;
}

.gallery-item-img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    transition: .3s;
}

.gallery-item-img:hover {
    transform: scale(1.04);
}


.cinema-item{
    float: none;
    display: inline-block;  
    transition: .3s;
    min-height: 300px;
    margin-top: 10px;
    cursor: pointer;
    //margin: 24px;
    border-radius: 3px;
}

.cinema-item-img {
    width: 100%;
}

.cinema-item:hover {
    transform: scale(1.04);
}

.cite{
    font-style: italic;
}

.slider-nav {
    z-index: 2;
    font-size: 120px;
    //position: absolute;
    top: 90px;
    right: 20px;
    color: lightgray;
    opacity: 0.5;
    cursor: pointer;
}

.user-profile-pic{
    max-width: 50px;
    max-width: 50px;
    background-color: $primary;
    border: 3px solid $primary;
    border-radius: 5px;
}

.user-profile-pic img{
    height: 100%;
    width: 100%;
}

.comment-user-name{
    color: $primary;
    font-size:medium;
}

.news-img{
    border: 3px solid $primary;
}